# Dependencies
node_modules/
.venv/
env/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Build & Output
dist/
build/
*.egg-info/

# Databases
backend/*.db
backend/complaints.db

# Environment variables
.env
backend/.env

# IDE & OS files
.DS_Store
.vscode/
.idea/
*.log
